<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mapper.ArticleMapper" >
    <resultMap id="ArticleMap" type="com.website.entity.Article" >
        <id column="articleid" property="articleId"/>
        <result column="userid" property="userId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="description" property="description"/>
        <result column="publish_time" property="publishTime"/>
        <result column="comment_count" property="commentCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="collect_count" property="collectCount"/>
        <result column="picture" property="picture"/>

    </resultMap>

    <select id="selectByCurrentAndNum" resultMap="ArticleMap">
        select * from article limit #{num} offset #{current}
    </select>

    <select id="selectFav" resultMap="ArticleMap">
        select * from article ORDER BY like_count DESC limit 5 offset 0
    </select>

    <select id="selectById" resultMap="ArticleMap">
        select * from article where articleid = #{id}
    </select>

    <select id="selectByAuthor" resultMap="ArticleMap">
        select * from article where userid = #{userid} limit #{num} offset #{current}
    </select>

    <select id="selectByWD" resultMap="ArticleMap">
        select * from article where title like #{wd}
    </select>

    <insert id="insert">
        insert into article (articleid, userid, title, description, content, publish_time,
                            comment_count, like_count, collect_count ,picture)
        values (#{id}, #{authorId}, #{title}, #{describe}, #{content}, #{time}, 0,0,0,#{picture})
    </insert>

    <update id="likeArticle">
        UPDATE article
        SET like_count = like_count + 1
        WHERE articleid = #{articleId};
    </update>
    <update id="cancelLike">
        UPDATE article
        SET like_count = like_count - 1
        WHERE articleid = #{articleId};
    </update>
    <update id="collectArticle">
        UPDATE article
        SET collect_count = collect_count + 1
        WHERE articleid = #{articleId};
    </update>
    <update id="cancelCollect">
        UPDATE article
        SET collect_count = collect_count - 1
        WHERE articleid = #{articleId};
    </update>
    <update id="commentArticle">
        UPDATE article
        SET comment_count = comment_count + 1
        WHERE articleid = #{articleId};
    </update>
    <update id="cancelComment">
        UPDATE article
        SET comment_count = comment_count - 1
        WHERE articleid = #{articleId};
    </update>

    <delete id="delete">
        delete from article where articleid = #{id}
    </delete>

</mapper>