<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mapper.TaskMapper" >
    <resultMap id="TaskMap" type="com.website.entity.Task" >
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <select id="selectTaskByUserId" resultMap="TaskMap">
        select * from task
    </select>

    <select id="selectTaskByUserIdAndTaskId" resultMap="TaskMap">
        select * from task where userid = #{userid} and taskid = #{taskid}
    </select>

    <update id="updateTaskByUserIdAndTaskId">
        update task set state = #{state} where userid = #{userid} and taskid = #{taskid}
    </update>
</mapper>