<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.website.mapper.UserMapper" >
    <resultMap id="UserMap" type="com.website.entity.User" >
        <id column="userid" property="userId"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <select id="selectUserByNameAndPassword" resultMap="UserMap">
        select * from user where name = #{name} and password = #{password}
    </select>

    <select id="selectUserById" resultMap="UserMap">
        select * from user where userid = #{id}
    </select>
    <select id="selectNameById" resultType="string">
        select name from user where userid = #{id}
    </select>

    <insert id="insertUserInfo">
        insert into user (userid, name, password) values (#{id}, #{name}, #{password})
    </insert>

    <update id="updateUser">
        update user set  name = #{name}, password = #{password}
        where userid = #{id}
    </update>

</mapper>